
        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        
        body{
            background-color: #f3f5f9;  
            height: 600px;
        }
        main{
            margin-top: 48px;
            align-items: center;
        }
        .topnav{
            position:absolute;
        }
        .imgs {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            max-width: 100%;
            height: auto;
        }
        .text{
            width: 70%;
        }
        .em{
            font-size: 1.6em;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px; 
        }
        p{
            line-height: 1.8;
        }
        @media screen and (max-width: 1000px){
            .em{
                font-size: 0.9em;
            }
            p{
            line-height: 1.5;
            }   
            body{
            display: block;
            justify-content: center;
            align-items: center;
        }
            .container{
                width: 100%;
                display: block;
                height: 1400px;
            }
            html{
                width: 100%;
            }
        }
        @media screen and (max-width: 550px){
            
            .container{
                width: 100%;
                display: block;
                height: 800px;
            }
            .text{
                width: 100%;
            }
        }