@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #f3f5f9;
    
}
main{
    margin-top: 48px;
    align-items: center;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
.text{
    width: 70%;
}
.em{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
}
p{
    line-height: 1.8;
}


@media screen and (max-width: 650px){
    .em{
        font-size: 20px;
    }
} 
@media screen and (max-width: 350px){
    .em{
        font-size: 10px;
    }
}  